.header {
     
   
    border-bottom: 1px solid #292B32;
    &__logo{
        position: absolute;
        left: -163px; 
        transition: all 0.5s;
        padding: 28px 0;

        &:hover {
            transform: scale(1.2);
        }
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        nav ul{
            
            margin: 0;
            padding: 0;
        }
    }
    &__item {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
        float: left;
        a {
            display: block;
            text-decoration: none;
            color: #CBCECF;
            font-size: 12px;
            font-weight: 550;
            letter-spacing: 0.6px;
            text-transform: uppercase;
            padding: 28px 68px 28px 0;
            position: relative;
            &:hover {
                color: #FFF;
                 
                &::after {
                    content: '';
                    position: absolute;
                    width: 82px;
                    height: 1px;
                    background-color: red;
                    top: 75px;
                    left: 1px;
                } 
            }
            
        }
    }
    &__long {
        position: relative;
        &:hover {
           &::after {
                content: '';
                position: absolute;
                width: 160px;
                height: 1px;
                background-color: red;
                top: 75px;
                left: 1px;
            }   
        }
           
    }
    
    
    &__lang {
         display: flex;
         
    }     


  
    &__utilits {
        position: absolute;
        right: -280px;
        display: flex;
        top: -4px;
        justify-content: space-between;
    }

    &__utilit {
        width: 32px;
        display: block;
        text-decoration: none;
        margin-right: 30px;
        img {
            width: 100%;
        }
    }
}
 

