.title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #FFF;
    &_left {
        text-align: left;
    }
    &_right {
        text-align: right;
    }
    &_black {
        color: #000;
    }
}